<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block seoTitle %}Simple CMS | {% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="has-navbar-fixed-top">
        {% include 'layout/header.html.twig' %}

        <section class="section page">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </section>

        {% include 'layout/footer.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
